* {   
    text-decoration: none;
    list-style: none;
}

html, body {
    height: 100%;
}

html {
    display: block;
}

body {
    margin: 0 auto;
    padding: 0;
    color: #333856;
    background-color: #f7f5e6;
    font-family: 'Signika', sans-serif;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
}

/* Header CSS */

nav {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 2px solid #52658f;
}

#logo {
    margin: 0 0 0 50px;
}

h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 12px;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0 0 0 25px;
    align-items: center;
    margin: 0;
    margin-left: auto;
    margin-right: 50px;   
    flex-shrink: 3; 
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    flex-wrap: wrap;
}

.navigation-item {
    margin: 8px;
}

li {
    display: list-item;
}

li a {
    font-size: 1.25em;
    text-transform: uppercase;
    color: #333856;
}

li a:hover {
    background-color: #333856;
    color: #e8e8e8;
    font-weight: bold;
    padding: 2px 10px;
    border-radius: 5px;
    transition: .33s;
}

/* Main Section CSS */

section {
    display: block;
    padding: 16px;
    margin-top: 25px;
}

.about-me-container {
    display: flex;
}

div {
    display: block;
}

.about-me-text-container {
    margin-right: 16px;
    max-width: 800px;
}

.titles {
    color: #e8e8e8;
    background-color: #333856;
    max-width: 700px;
    padding-left: 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.2em;
    line-height: 1.6em;
    letter-spacing: .05em;
}

#code-seconds {
    background-color: #333856;
    color: #e8e8e8;
    max-width: 700px;
    padding-left: 10px;
}

.portrait {
    width: 300px;
    border-radius: 12px;
    flex-shrink: 0;
    float: right;
    margin: auto auto auto 500px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

details {
    display: block;
    cursor: pointer;
    margin-left: 20px;
}

details img {
    width: 50em;
    height: 25em;
    border: 3px solid #52658f;
}


summary {
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

#yelpCamp {
    margin-top: 50px;
}

#skills-container > * {
    font-size: 2em;
    width: 2em;
    margin-top: 8px;
}

.fab, .far {
    font-weight: 400;
}

.fab {
    font-family: "Font Awesome 5 Brands";
    margin-left: 10px;
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: #52658f;
}


/* Footer CSS */

footer {
    margin-top: auto;
    padding: 12px;
    text-align: center;
}

#heart {
    color: #ff0000;
}






/* Media Queries */

@media only screen and (max-width: 1200px){
    .portrait {
        margin: auto;
    }
    
}

@media only screen and (max-width: 600px){
    .about-me-container {
        flex-direction: column;
    }

    #code-seconds {
        font-size: 1em;
        margin-right: auto;
        margin-bottom: 2em;
    }

    details img {
        width: 25em;
        height: 15em;
    }
    
}