* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 300px;
    background-color: #f7f5e6;
}

.the-header {
    background-color: #333856;
    padding: 30px 42px;
    color: #f7f5e6;
    text-align: center;
}

.the-header::after {
    content: '';
    display: table;
    clear: both;
}

#the-input {
    width: 70%;
    padding: 10px;
    float: left;
    font-size: 15px;
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: #e8e8e8;
}

.create-button {
    background-color: #cccc;
    padding: 10px;
    font-size: 15px;
    width: 30%;
    color: #333856;
    float: left;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.create-button:hover {
    background-color: #52658f;    
    color: #e8e8e8;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    background-color: #e8e8e8;
    list-style-type: none;
    cursor: pointer;
    padding: 10px 6px 10px 30px;
    transition: 0.3s;

    /* making list unselectable */
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

ul li:nth-child(odd) {
    background-color: #f6f9f3;
}

ul li:hover {
    background-color: #ddd;
}

ul li.checked {
    background-color: #282828;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked {
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: red;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 15px;
    transform: rotate(45deg);
    height: 15px;
    width: 10px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px 10px 15px;
}

.close:hover {
    background: f43c2f;
}

